@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::selection {
  background-color: #3b82f6;
  color: white;
}